@CHARSET "ISO-8859-1";

a:link {
	color: #000099;
	text-decoration: underline;
}

a:active {
	color: #ff0000;
	text-decoration: underline;
}

a:hover {
	color: #ff0000;
	text-decoration: underline;
}

a:visited {
	color: #444444;
	text-decoration: underline;
}

body {
	font-family: arial, helvetica;
	color: #000000;
	background-color: #f5f5f5;
	margin-left: 5%;
	margin-right: 5%;
}

h1 {
	font-size: x-large;
	font-weight: normal;
	text-decoration: underline;
	text-align: center;
}

h2 {
	font-size: large;
	font-weight: normal;
	text-decoration: underline;
}

h3 {
	font-size: medium;
	font-weight: normal;
	text-decoration: underline;
}

.sample {
	border-style: double;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	background-color: #FFFFFF;
	font-family: monospace;
	font-size: medium;
	margin: 0px;
	width: 100%;
}
